* {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: auto 300px;
    margin-top: 250px;
    padding: 45px 45px 50px 45px;
    border: 1px solid rgb(75, 71, 71);
    border-radius: 16px;
    height: 500px;
    display: inline-block;
    
    
}

.alinear {
    text-align: center;
}

.input {
    padding: 10px 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

a {
    font-size: 17px;
    text-decoration: none;
    font-weight: 400;
}

.parrafo {
    margin-top: 40px;
    font-size: 17px;
}

.button {
    margin-top: 50px;
    display: inline-block;
}

div.border {
    background-color: blue;
    font-weight:bold;
    color: cornsilk;
    border: 1px;
    padding: 10px 15px;
    border-radius: 5px; 
}

button {
    text-decoration: none;
    background-color: blue;
    border: none;
    font-weight: bold;
    padding: 9px 23px;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
    left: 380px;
}

button a {
    text-decoration: none;
    color: #fff;
}

.footer {
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    margin: 10px 300px;
}

footer {
    color: black;
}