ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
        padding: 0.5rem;
        transition: all 300ms linear;
        &:hover {
            cursor: pointer;
            background: var(--primary);
            color: var(--text-on-primary);

        }
        a {
            text-decoration: none;
            color: var(--text-color);
        }
    }
}